[submodule "ThirdParty/gtest"]
	path = ThirdParty/gtest
	url = ../LibPE.git
	branch = gtest-git
[submodule "ThirdParty/tinyxml2"]
	path = ThirdParty/tinyxml2
	url = https://github.com/r12f/tinyxml2.git
