[submodule "ThirdParty/gtest"]
	path = ThirdParty/gtest
	url = https://github.com/r12f/googletest.git
[submodule "ThirdParty/tinyxml2"]
	path = ThirdParty/tinyxml2
	url = https://github.com/r12f/tinyxml2.git
